// @import "https://fonts.googleapis.com/css?family=McLaren";
//@import "https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap";
@font-face {
	font-family: 'RIVERHACK';
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/RIVERHACK_CYR.otf') format('opentype');
}
@font-face {
	font-family: 'SWASH';
	font-style: normal;
	src: url('./fonts/RiverhackSwashes.otf') format('opentype');
}

body {
	margin: 0;
	padding: 0;
	background-color: #fffafa;
	color: #2e2e2e;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.douhave-captcha {
	margin: 20px;
	display: flex;
	justify-content: center;
}
.AppContainer {
	background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
	padding: 0;
	position: relative;
	min-height: calc(100vh - 98px);
}
.space-break {
	width: 10px;
	display: inline-block;
}
.header-alt {
	background-position: center;
	background-size: cover;
	padding: 8px 0;
	position: fixed;
	width: 100%;
	top: -2px;
	z-index: 99999;
	height: 110px;
}
.btn-post-it {
	width: 30%;
	border: none;
	background-color: transparent;
	outline: none;
}
.logo-text {
	font-size: 24px;
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-family: 'Oswald';
	letter-spacing: 6px;
	color: #000000;
}
.Header {
	padding: 10px;
	width: 100%;
	background-color: #e4a62d;
	height: 100px;
	box-shadow: 0 2px #a9a9a9;
	color: snow;
	z-index: 700;
	a {
		color: snow;
	}
}
.post-btn-img {
	width: 100%;
}
.EmailConfirmationBox {
	padding: 10px 0;
	margin: auto;
	text-align: center;
	button {
		color: #e4a62d !important;
		font-size: 19px;
		font-weight: bold;
	}
}
.Footer {
	background-color: #333333;
	text-align: center;
	padding: 16px 0;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 9999;
	p {
		color: #fff;
		font-family: 'Oswald', sans-serif;
		margin: 0;
		font-weight: lighter;
		letter-spacing: 1px;
	}
	hr {
		background-color: #d3d3d3;
		border-color: #d3d3d3;
		padding: 1px;
	}
}
.LookingText {
	font-family: Oswald-Light;
}
.site-title {
	display: inline-block;
	z-index: 700;
	position: relative;
	width: 19%;
	img {
		height: 100px;
		position: absolute;
		top: -29px;
		left: 0;
		right: 0;
		text-align: center;
		margin: 0px auto;
	}
}
.post-button-box {
	display: inline-block;
	text-align: right;
	width: 20%;
	margin-left: 290px;
	padding-bottom: 10px;
	img {
		height: 50px;
		position: absolute;
		z-index: 1;
		top: 20px;
		right: 260px;
	}
}
.zipInput {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
	width: 90px;
}
.searchHeight {
	height: 35px;
}
.aboutText {
	text-align: center;
}
.searchButtonHome {
	padding-left: 5px;
	display: inline-block;
}
.CatResults {
	h1 {
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
	}
	h5 {
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
	}
}
.category {
	width: 100px;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	img {
		width: 110px;
		text-align: center;
	}
}
.login-box {
	display: none;
	text-align: right;
	position: absolute;
	right: 10px;
	min-width: 800px;
}
.mobile-login {
	display: inline-block;
}
.mobile-login-img {
	width: 45px;
	height: 45px;
	position: absolute;
	right: 10px;
	top: 10px;
}
.Register {
	text-align: center;
	font-family: 'Oswald';
	height: 100%;
	text-align: center;
	width: 100%;
}
.categoryResults {
	display: initial;
    a {
        text-decoration: none;
    }
}
.SignupInput {
	padding: 12px;
	text-align: center;
	input {
		border: 1px solid #272727;
		padding: 11px;
		border-radius: 0;
		outline: none;
		width: 26%;
	}
}
.register-recaptcha-text {
	width: 80%;
	width: 43%;
	margin: auto;
}
.mobile-login-panel {
	width: 70%;
	height: 140px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.mobile-login-exit {
	text-align: right;
	margin-right: 10px;
	margin-top: 100px;
}
.MobileLogin {
	display: inline-flex;
}
.Login {
	display: inline-block;
	text-align: right;
	position: absolute;
	right: 5px;
}
input {
	margin-right: 3px;
	border-radius: 5px;
	max-width: 100%;
}
.sign-in-button {
	background-color: transparent;
	border: none;
	color: #2e2e2e;
	cursor: pointer;
	&:hover {
		opacity: 0.75;
		color: #6699cc;
	}
}
.register-button {
	display: none;
}
.NavBar {
	display: block;
}
.NavBarItems {
	display: grid;
	text-align: center;
	padding: 10px;
	font-size: 0.6em;
	h2 {
		color: #f9f3ef;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		padding: 8px 0;
	}
	p {
		color: #f9f3ef;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
		padding: 8px 20px;
	}
}
.MobileMenu {
	display: none;
	padding-bottom: 3px;
	padding: 5px 15px;
	background-color: #231f20;
	width: 100%;
	a {
		color: #fffafa;
		font-size: 110%;
		text-transform: uppercase;
		width: 100%;
		text-decoration: none;
	}
	ul {
		list-style: none;
		line-height: 250%;
		padding-left: 0;
		background-color: #231f20;
	}
	li {
		width: 100%;
		text-align: center;
		text-decoration: none;
	}
}
.hamburger-menu {
	width: 35px;
}
.Search {
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	button {
		border: none;
		background-color: #ffffff00;
		color: #000000;
		cursor: pointer;
		font-family: 'Oswald', sans-serif;
		font-weight: 500;
		font-size: 30px;
		vertical-align: sub;
	}
}
.fromText {
	padding-left: 5px;
	color: #000000;
	font-weight: 500;
}
.SearchBox {
	width: 40%;
	margin-right: 40px;
}
.top-input {
	&::placeholder {
		color: #949393;
		font-style: italic;
	}
	border: 1px solid #4c3a24;
	border-radius: 0;
	text-align: center;
	padding: 10px;
	outline: none;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	margin: 10px 0;
}
.box-alt {
	border: 2px solid #9a9a9a;
	margin: 12px 0;
}
.img-box-alt {
	img {
		width: 100%;
		height: 12rem;
		object-fit: contain;
		padding: 8px;
	}
}
.product-name-alt {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 10px 12px 0px 12px;
	p {
		font-size: 22px;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-weight: 500;
		margin: 0;
		font-style: italic;
	}
}
.product-price-alt {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 12px 0px 12px;
	p {
		font-size: 22px;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-weight: 500;
		margin: 0;
		font-style: italic;
	}
}
.product-bud-alt {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 10px 12px 0px 12px;
	p {
		font-size: 15px;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-weight: 500;
		margin: 0;
		font-style: italic;
	}
}
p.product-text-alt {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.product-cat-alt {
	display: inline-block;
	padding: 10px 12px 0 12px;
	word-wrap: break-word;
	p {
		text-transform: uppercase;
		font-family: 'Oswald';
		font-size: 12px;
		margin: 0;
	}
}
.product-option-alt {
	z-index: 65000;
	padding: 0 0 10px 0;
}
span.icon-heart {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	p {
		font-size: 14px;
		padding: 0 10px;
		margin: 0;
		font-family: 'Oswald';
	}
}
a {
	color: inherit;
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
.mobile-login-box {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: right;
}
.registerText {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-style: italic;
}
.advanced {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	input {
		max-width: 480px;
	}
}
.SideBar {
	display: inline-block;
	position: fixed;
	top: 0;
	padding-bottom: 0;
	z-index: 300;
	height: 100vh;
	width: 14vw;
	padding-top: 150px;
	vertical-align: top;
	a {
		text-decoration: none;
		color: #f9f3ef;
		font-size: 20px;
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: 100;
		padding: 8px 0;
		&:hover {
			transform: scale(1.1);
			text-decoration: none;
		}
		&:active {
			background: #1ab5b3;
		}
	}
	ul {
		list-style: none;
		line-height: 300%;
		padding-left: 0;
		background-color: #231f20;
	}
	li {
		width: 100%;
		text-align: right;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		letter-spacing: -1px;
		background-image: linear-gradient(to bottom, #333b3f 0%, #2e363a 100%);
		transition: 0.7s;
		&:hover {
			background: #1ab5b3;
		}
	}
}

.Content{
	margin-top: 0px;
	margin-left: 15vw;
	width: 70vw;
	display: inline-block;
}

.SideBarAds {
	position: fixed;
	vertical-align: top;
	display: inline-block;
	padding-bottom: 0;
	z-index: 300;
	min-height: 100vh;
	height: 100%;
	width: 14%;
	right: 0;
	overflow: auto;
	margin-top: 200px;
}

.HouseAd{
	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	vertical-align: top;
	display: inline-block;
	z-index: 301;
	height: auto;
	width: 80%;
	overflow: hidden;
}

.AdsBar {
	display: inline-block;
	position: fixed;
	padding-bottom: 0;
	z-index: 300;
	min-height: 700px;
	height: 100%;
	width: 14%;
	right: 0;
	margin-top: 120px;
	overflow: auto;
}

.hr {
	width: 150px;
	height: 2px;
	color: white;
}


.Home {
	height: 100%;
	text-align: center;
	width: 100%;
	h2 {
		margin-top: 20px;
	}
}
.what-you-need-button {
	background-color: #6699cc;
	color: #2e2e2e;
	border-radius: 50px;
	padding: 15px;
	cursor: pointer;
	font-family: 'McLaren', cursive;
	font-size: 36px;
	font-weight: 800;
	border: none;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
	box-shadow: 0 5px 4px #353839;
	&:hover {
		opacity: 0.85;
		transform: scale(1.2);
	}
}
.cat-title {
	text-align: center;
	p {
		text-transform: uppercase;
		text-align: center;
		overflow: hidden;
		margin-bottom: 0px;
		font-size: 13px;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		color: black;
		width: 110px;
	}
}
.UserPanel {
	margin-left: 0;
	padding: 45px 0 0 0;
}
.chat-message {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.catSettings {
	a {
		color: #67942f;
		&:hover {
			color: #231f20;
		}
	}
	img {
		&:hover {
			font-size: 20px;
			color: #2e2e2e;
			content: '';
			text-align: center;
		}
	}
}
.from-text {
	font-size: 20px;
	vertical-align: sub;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
}
.SearchDropDown {
	font-weight: 500;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	text-align-last: center;
}
.empty-input {
	margin: 0;
	border-right-width: 0px !important;
}
.m-10 {
	margin: 10px;
}
.item-details-icons {
	width: 1.3em;
	height: 1.3em;
	cursor: pointer;
}
.modal-content {
	border: 5px inset #da9d26;
	input {
		border: 1px solid black !important;
	}
	textarea {
		border: 1px solid black !important;
	}
}
.Categories {
	text-align: center;
	vertical-align: top;
	// padding-top: 20px;
	max-width: 100%;
	margin: auto;
}
.searchGoButton {
	margin-left: 5px;
	&:hover {
		color: #e3a62d;
	}
}
.sub-menu {
	position: fixed;
	width: 100%;
	text-align: left;
	top: 108px;
	left: 14vw;
	z-index: 99999;
}
.sub-menu-ul {
	margin: 0;
	list-style: none;
	background-color: #000000;
	display: inline;
	ul {
		position: absolute;
		display: none;
		margin: 0;
		padding: 5px 0;
		width: 100%;
		li {
			display: block;
		}
		ul {
			position: absolute;
			top: 0;
			left: 100%;
		}
	}
}
.sub-menu-li {
	display: inline-block;
	padding: 14px 10px;
	position: relative;
	a {
		color: #fff;
		font-family: 'Oswald';
		text-transform: uppercase;
		font-size: 20px;
		text-decoration: none;
	}
	&:hover {
		>ul {
			display: block;
			background-color: #000000;
		}
	}
	.menu {
		&:hover {
			background-color: #e3a62d;
			color: #303030;
		}
	}
}
.WhatPeopleNeed {
	text-align: center;
	height: 100%;
	width: 100%;

}
.CategoryItems {
	text-align: center;
	padding: 108px 14%;
}
.ItemFull {
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	img {
		width: 100%;
	}
}
.item-panel {
	position: relative;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	width: 60%;
	height: 60%;
	background-color: white;
	z-index: 1000;
	padding: 20px;
	overflow-y: scroll;
	box-shadow: 0px 0px 15px 5px #333333;
}
.offer-button {
	text-align: center;
	margin-bottom: 10px;
}
.main-content {
	width: 80%;
	padding: 20px;
	text-align: center;
	margin: 0 0 0 auto;
}
.Contact {
	text-align: center;
	padding: 10% 20%;
	a {
		color: blue;
	}
	.belowDesc {
		border-top: 2px solid #000;
		padding: 20px 0;
		margin-top: 20px;
		p {
			font-size: 18px;
		}
	}
}
.OfferSubmit {
	text-align: center;
}
.About {
	text-align: center;
	padding: 10% 20%;
}
.HowItWorks {
	text-align: center;
	padding: 30px;
}
.logowbg {
	width: 100%;
	max-width: 700px;
}
.SearchResults {
	text-align: center;
	padding-left: 19%;
}
.footer-links {
	text-align: center;
	padding-bottom: 20px;
	a {
		color: #2e2e2e;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			color: #6699cc;
			text-decoration: none;
		}
	}
}
.footer-social {
	padding-right: 10px;
	text-align: center;
	cursor: pointer;
	p {
		color: #fff;
		margin: 10px 0;
		font-size: 12px;
	}
}
.footer-logo {
	text-align: center;
	img {
		margin-top: 5px;
		width: 300px;
	}
}
.copyright {
	padding-top: 20px;
}
.footer-container {
	text-align: right;
}
.footer-icon {
	width: 35px;
	height: 35px;
	padding: 5px;
}
.douhave-button {
	background-color: #e4a62d;
	border: 3px solid black;
	padding: 10px;
}
.resultItem {
	position: relative;
	display: inline-block;
	min-width: 250px;
	max-width: 350px;
	min-height: 350px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	#itemPic {
		text-align: center;
		width: 88%;
		height: 100px;
		img {
			margin: 5%;
			vertical-align: middle;
			width: auto;
			max-width: 150px;
			height: auto;
			max-height: 105px;
			position: relative;
			left: 10px;
		}
	}
	#itemName {
		display: block;
		font-weight: 700;
		font-size: 9px;
		text-transform: uppercase;
	}
	#itemBudget {
		text-align: right;
		font-weight: 700;
		font-size: 9px;
		text-transform: uppercase;
	}
	#itemCategory {
		display: block;
		font-weight: 500;
		font-size: 9px;
		text-transform: uppercase;
	}
	#itemLocation {
		text-align: right;
		font-weight: 500;
		font-size: 9px;
		text-transform: uppercase;
	}
	#itemCondition {
		display: inline-block;
	}
	#itemSubmittedby {
		h5 {
			display: inline-block;
		}
		p {
			display: inline-block;
		}
	}
	#itemDate {
		h5 {
			display: inline-block;
		}
	}
	#itemExpire {
		h5 {
			display: inline-block;
		}
	}
	#itemMake {
		h5 {
			display: inline-block;
		}
	}
	#itemModel {
		h5 {
			display: inline-block;
		}
	}
	#itemYear {
		h5 {
			display: inline-block;
		}
	}
}
.FormElements {
	text-align: center;
	margin-bottom: 80px;
}
.UserItems {
	border-style: solid;
	border-width: medium;
	border-color: #e4a62d;
	padding: 20px;
}
.UserSaveList {
	border-style: solid;
	border-width: medium;
	border-color: #e4a62d;
	padding: 20px;
}
.Messages {
	border-style: solid;
	border-width: medium;
	border-color: #e4a62d;
	padding: 20px;
}
.spinner-border {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.ItemPostedText {
	text-align: left;
	width: 150px;
	height: 35px;
}
.p-0 {
	padding: 0;
}
.ChatItem {
	border: 1px solid #ded6d6;
	padding: 10px;
}
.ChatForm {
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	top: 30px;
}
.chatItemPic {
	width: 100%;
	border-radius: 8px;
}
.user-icon {
	width: 1.5rem;
	height: 1.5rem;
}
.profile-icon {
	color: black;
	width: 2rem;
	height: 2rem;
	margin: 0 10px 0 0;
}
.conversation-icon {
	width: 100%;
	height: 100%;
}
.messages-area {
	background: #80808026;
	max-height: 800px;
	overflow: auto;
}
.submitter-block {
	background: white;
	border-radius: 10px;
	margin: 10px;
}
.messages-block {
	position: relative;
}
.conversation-messages-icon {
	width: 60%;
	height: 100%;
}
.action-icon-top {
	position: absolute;
	z-index: 9999999999999;
	bottom: 100px;
	left: 0;
}
.action-icon-bottom {
	position: absolute;
	z-index: 9999999999999;
	top: 0;
	left: 0;
}
.conversation-messages-item-icon {
	width: 60%;
	height: 100%;
}
.chat-messages-badge {
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid gray;
	color: black;
	background-color: unset;
	border-radius: 10px;
}
.item-actions {
	color: #e4a62d;
	.btn {
		color: #e4a62d;
	}
}
.chat-panel {
	border: 1px solid #d6d1d1;
}
.navbar {
	overflow: hidden;
	font-family: 'Oswald', sans-serif;
	a {
		padding: 14px 16px;
		text-decoration: none;
		font-size: 20px;
		font-family: 'Oswald', sans-serif;
		color: #fff;
		padding: 0 36px;
		cursor: pointer;
		&:hover {
			background-color: #dfa12e;
		}
	}
}
.subnav {
	float: left;
	overflow: hidden;
	.subnavbtn {
		font-size: 20px;
		border: none;
		outline: none;
		color: #fff;
		padding: 14px 16px;
		background-color: inherit;
		font-family: 'Oswald', sans-serif;
		margin: 0;
	}
	&:hover {
		.subnavbtn {
			background-color: #dfa12e;
		}
		.subnav-content {
			display: flex;
			flex-direction: column;
		}
	}
}
.subnav-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: black;
	width: 10%;
	text-align: left;
	z-index: 1;
	a {
		float: left;
		color: white;
		text-decoration: none;
		padding: 14px;
		&:hover {
			background-color: #eee;
			color: black;
		}
	}
}
.menu-links {
	ul {
		margin: 0;
		padding: 20px;
		text-align: left;
		li {
			display: inline;
			list-style: none;
			font-size: 20px;
			font-family: 'Oswald', sans-serif;
			color: #fff;
			padding: 0 36px;
			cursor: pointer;
		}
	}
}
.save-button {
	position: absolute;
	margin-left: 70%;
	transform: translateX(-50%);
	text-align: center;
	img {
		width: 30px;
		height: 30px;
	}
}
.message-box {
	padding: 10% 16%;
}
.share-button {
	position: absolute;
	text-align: center;
	margin-left: 5%;
	img {
		width: 30px;
		height: 30px;
	}
}
.contact-button {
	position: absolute;
	margin-left: 80%;
	text-align: center;
	img {
		width: 30px;
		height: 30px;
	}
}
.SaveItem {
	padding-bottom: 10px;
	margin-left: 4%;
}
.buttonContainer {
	z-index: 1000;
}
.NeedForm {
	#itemName {
		padding-top: 10px;
	}
	#itemImg {
		padding-top: 10px;
	}
	#itemCondition {
		display: inline-block;
	}
}
.modal-dialog {
	margin: 17.75rem auto;
}
.posted-type {
	height: 40px;
	width: 150px;
	margin-left: -8px;
}
.posted-item {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			&:first-child {
				margin-left: 6px;
			}
		}
	}
}
.posted-group {
	width: 440px;
	margin-bottom: -5px;
	max-width: 100%;
}
label.top-label {
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 20px;
}
.WhatYouNeed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	text-align: center;
	width: 100%;
}
.WhatYouNeedHeaders {
	text-align: center;
	padding: 20px 0;
}
button {
	max-width: 100%;
}
select {
	max-width: 100%;
}
optgroup {
	max-width: 100%;
}
textarea {
	max-width: 100%;
}
.block-center {
	margin: auto;
	display: block;
}
.w-80 {
	width: 80%;
}
.p-8 {
	padding: 8px;
}
.w-100 {
	width: 100%;
}
.m-20 {
	margin: 20px;
}
.m-40 {
	margin: 40px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-40 {
	margin-top: 40px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-60 {
	margin-bottom: 60px;
}
.item-buttons {
	img {
		width: 30px;
		height: 30px;
	}
}
.cursor-pointer {
	cursor: pointer;
}
.DoUHave {
	opacity: 0.7;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
		&:hover {
			color: #f1f1f1;
		}
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
}

.ItemDetailImage{
	max-width: 50vw;
}

#main {
	transition: margin-left 0.5s;
	padding: 20px;
}
@media only screen and (min-width: 1800px) {
	// .Categories {
	// 	padding-left: 40px;
	// }
	.post-button-box {
		width: 36%;
		margin-left: 140px;
	}
	.categoryResults {
		padding-left: 80px;
	}
}
@media only screen and (min-width: 1700px) and (max-width: 2100px){
	.header-logo-img {
		margin-top: 5px;
		width: 20%;
	}
	.WhatPeopleNeed {
		padding: 50px 0 0 0%;
		text-align: center;
	}
}
@media only screen and (min-width: 1700px) {
	// .Categories {
	// 	padding-left: 40px;
	// }
	.post-button-box {
		width: 36%;
		margin-left: 130px;
	}
	.categoryResults {
		padding-left: 80px;
	}
}
@media only screen and (min-width: 1600px) {
	// .Categories {
	// 	padding-left: 40px;
	// }
	.post-button-box {
		width: 36%;
		margin-left: 120px;
	}
	.categoryResults {
		padding-left: 80px;
	}
}
@media only screen and (min-width: 1500px) {
	// .Categories {
	// 	padding-left: 40px;
	// }
	.categoryResults {
		padding-left: 80px;
	}
	.post-button-box {
		width: 36%;
		margin-left: 120px;
	}
}
@media only screen and (min-width: 1400px) and (max-width: 1700px){
	.header-logo-img {
		margin-top: 5px;
		width: 25%;
	}
	.WhatPeopleNeed {
		padding: 50px 0 0 0%;
		text-align: center;
	}
}
@media only screen and (max-width: 1400px) {
	.WhatPeopleNeed {
		text-align: center;
		// padding: 50px 0 0 14%;
	}
	.sub-menu-li {
		a {
			font-size: 16px;
		}
	}
}
@media only screen and (min-width: 1350px) {
	.post-button-box {
		width: 36%;
		margin-left: 110px;
	}
	// .Categories {
	// 	padding-left: 40px;
	// }
	.categoryResults {
		padding-left: 80px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1400px){
	.header-logo-img {
		margin-top: 5px;
		width: 30%;
	}
	.CategoryItems {
		text-align: center;
		padding: 105px 14%;
	}
	.WhatPeopleNeed {
		padding: 45px 0 0 0%;
		text-align: center;
	}
}
@media only screen and (max-width: 1200px) {
	.WhatPeopleNeed {
		padding: 45px 0 0 0%;
		text-align: center;
	}
	.header-logo-img {
		margin-top: 5px;
		width: 35%;
	}
	.Search {
		padding: 20px;
		width: 100%;
	}
	.CategoryItems {
		text-align: center;
		padding: 100px 14%;
	}
}
@media only screen and (min-width: 1200px) {
	// .Categories {
	// 	padding-left: 40px;
	// }
	.aboutTitle {
		margin-left: 15rem;
	}
	.categoryResults {
		padding-left: 80px;
	}
	.post-button-box {
		width: 36%;
		margin-left: 100px;
	}
}
@media only screen and (max-width: 1099px) {
	.WhatPeopleNeed {
		padding: 45px 0 0 0%;
		text-align: center;
	}
}
@media only screen and (max-width: 1024px) {
	.WhatPeopleNeed {
		padding: 45px 0 0 0%;
		text-align: center;
		// height: 75px;
		// top: -22px;
		// left: 0;
	}
	.site-title {
		img {
			height: 75px;
			top: -22px;
			left: 0;
		}
	}
	.top-input {
		padding: 5px;
		font-size: 14px;
	}
	.from-text {
		font-size: 16px;
	}
	.Search {
		padding: 20px;
		button {
			font-size: 24px;
		}
		width: 100%;
	}
	.post-button-box {
		img {
			right: 230px;
		}
	}
	.header-alt {
		background-position: center;
		background-size: cover;
		padding: 0px 0;
		position: fixed;
		width: 100%;
		z-index: 99999;
	}
	.sub-menu {
		position: fixed;
		width: 100%;
		text-align: left;
	}
	.sub-menu-li {
		a {
			color: #fff;
			font-family: 'Oswald';
			text-transform: uppercase;
			font-size: 14px;
		}
	}
	.SideBar {
		a {
			color: #f9f3ef;
			font-size: 16px;
			text-transform: uppercase;
			font-family: 'Oswald', sans-serif;
			font-weight: 100;
			padding: 14px 0;
		}
	}
	.Contact {
		text-align: center;
		padding: 20% 20% 0 20%;
	}
	.footer-icon {
		width: 30px;
		height: 30px;
		padding: 5px;
	}
	.UserItems {
		border-style: solid;
		border-width: medium;
		border-color: #e4a62d;
	}
	.UserSaveList {
		border-style: solid;
		border-width: medium;
		border-color: #e4a62d;
	}
	.Messages {
		border-style: solid;
		border-width: medium;
		border-color: #e4a62d;
	}
	.message-box {
		padding: 14% 3% 0 20%;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	// .Categories {
	// 	padding-left: 40px;
	// 	padding-left: 40px;
	// }
	.categoryResults {
		padding-left: 80px;
		padding-left: 80px;
		padding-left: 0px;
		width: 105%;
	}
	.aboutTitle {
		margin-left: 15rem;
	}
	.Search {
		padding: 20px;
		text-align: center;
	}
	.sideBar {
		width: 30%;
	}
	.searchHeight {
		width: 50%;
	}
	.post-button-box {
		display: inline-block;
		text-align: left;
		width: 16%;
		margin-left: 50px;
		img {
			height: 40px;
		}
	}
	.WhatYouNeed {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media only screen and (min-width: 992px) {
	.drawer-toggle {
		display: none;
	}
}
@media only screen and (max-width: 992px) {
	.blogPosition{
	  padding: 112px 0 0 0%;
	}
	.sub-menu {
		display: none;
	}
	.message-box {
		padding: 20% 10%;
	}
	.mobile-login {
		display: none;
	}
	.CategoryItems {
		text-align: center;
		padding: 12px;
	}
	.SignupInput {
		input {
			border: 1px solid #272727;
			padding: 11px;
			border-radius: 0;
			outline: none;
			width: 100%;
		}
	}
	.WhatPeopleNeed {
		padding: 35px 0 0 0%;
		text-align: center;
		// padding: 12px;
	}
	.ItemDetailImage{
		max-width: 70vw;
	}
}
@media only screen and (min-width: 875px) and (max-width: 1090px) {

	.logo-text {
		font-size: 1rem;
		margin: 0;
		padding: 0;
		font-weight: 800;
		font-family: 'Oswald';
		letter-spacing: 6px;
		color: #000000;
	}
}
@media only screen and (max-width: 850px) {
	.Content{
		margin-top: 0px;
		margin-left: 0;
		width: 100vw;
		display: inline-block;
	}
	.WhatPeopleNeed {
		padding: 0;
		text-align: center;
	}
	.profileFlex {
		flex-direction: column;
		.secondDiv {
			padding-top: 5%;
			text-align: left;
		}
	}
	.WhatYouNeed {
		margin-left: 0;
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	.Header {
		height: 122px;
	}
	.Search {
		padding: 20px;
		top: 73px;
		right: 0;
		left: 0;
		margin: auto;
		width: 80%;
		text-align: center;
	}
	.searchButtonHome {
		padding-left: 36px;
	}
	.hamburger-menu {
		width: 30px;
	}
	.post-button-box {
		text-align: left;
		width: 12%;
		margin-left: 0px;
		img {
			height: 34px;
			top: 15px;
		}
	}
	.MobileMenu {
		display: none;
		a {
			font-size: 14px;
			padding: 7px 0;
		}
	}
	.Register {
		margin-left: 0px;
	}
	.register-recaptcha-text {
		width: 70%;
	}
	.login-box {
		display: none;
	}
	.SideBar {
		display: none;
	}
	.AppContainer {
		text-align: center;
		margin-left: 0;
		margin-top: 0px;
	}
	.Categories {
		grid-template-columns: none;
		width: 100%;
		max-width: 100%;
	}
	.aboutText {
		text-align: center;
	}
	.Footer {
		margin-left: 0px;
	}
	.zipInput {
		width: 15%;
		padding-left: 0px;
	}
	.MobileLogin {
		padding: 0 !important;
	}
	.searchHeight {
		width: 50%;
	}
	.WhatPeopleNeed {
		padding-left: 0px;
		text-align: center;
	}
	.categoryResults {
		padding-left: 0px;
	}
	.NavBarItems {
		padding: 0;
	}
	.footer-logo {
		img {
			width: 250px;
		}
	}
	.About {
		padding: 30px 15px;
		width: 100%;
	}
	.site-title {
		img {
			height: 80px;
			left: 10px;
		}
	}
	.registerText {
		padding-top: 0px;
	}
	.mobile-login-box {
		padding-top: 0px;
	}
	.main-content {
		width: 100%;
	}
	.Contact {
		width: 100%;
		padding: 50px;
	}
	.UserPanel {
		margin-left: 0;
		// padding: 15px;
		text-align: center;
		// padding: 30px;
		margin: 0px;
	}
	.profile-icon {
		width: 1.5rem;
		height: 1.5rem;
	}
	.WhatYouNeedHeaders {
		h1 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.5rem;
		}
	}
	.signInText.cursor-pointer {
		padding-top: 0;
	}
	.ItemToShow {
		padding: 0px !important;
	}
	.forgot-password {
		padding: 0px !important;
	}
	.ConversationMessagesItem {
		display: block;
		border: 1px solid #ccc;
		position: relative;
		overflow: hidden;
		padding: 0 10px 15px;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.float-right {
		float: none !important;
		overflow-wrap: break-word;
		display: block !important;
	}
	.m-width {
		width: 80% !important;
	}
}
@media only screen and (max-width: 790px) {
	.logo-text {
		display: none;
		// font-size: 0.5rem;
	}
}
@media only screen and (min-width: 780px) and (max-width: 1000px){
	.header-logo-img {
		width: 55%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	.App .header-alt button {
	  margin-top: 20px;
	}
	.header-alt {
		height: 120px;
	}
	.categoryResults {
		padding-left: 80px;
		padding-left: 0px;
		width: 105%;
	}
	.aboutTitle {
		margin-left: 15rem;
	}
	.Search {
		padding: 20px;
		text-align: center;
	}
	.sub-menu {
		display: none;
		position: fixed;
		width: 100%;
		text-align: left;
	}
	.SideBar {
		display: none;
	}
	.searchHeight {
		width: 50%;
	}
	.post-button-box {
		display: inline-block;
		text-align: left;
		width: 16%;
		margin-left: 0px;
		img {
			height: 40px;
		}
	}
	.WhatYouNeed {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	.logo-text {
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
		font-weight: 800;
		font-family: 'Oswald';
		letter-spacing: 6px;
		color: #000000;
	}
	.sub-menu-li {
		a {
			color: #fff;
			font-family: 'Oswald';
			text-transform: uppercase;
			font-size: 12px;
		}
	}
	.WhatPeopleNeed {
		padding: 0px;
		text-align: center;
	}
}
@media only screen and (min-width: 600px) and (max-width: 780px){
	.blogPosition{
	  padding: 80px 0 0 0%;
	}
	.header-logo-img {
		width: 65%;
	}
	.header-alt {
		height: 100px;
	}
	.App .header-alt button {
	  margin-top: 20px;
	}
	.sideBar {
		width: 30%;
	}
	.searchHeight {
		width: 50%;
	}
	.post-button-box {
		display: inline-block;
		text-align: left;
		width: 12%;
		margin-left: 0px;
	}
	.categoryResults {
		padding-left: 0px;
		width: 105%;
	}
	.WhatYouNeed {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
	.WhatPeopleNeed {
		padding: 0px;
		text-align: center;
	}
}
@media only screen and (max-width: 620px) {
	.site-title {
		img {
			height: 78px;
			top: -22px;
			left: 10px;
		}
	}
	iframe {
		width: 100%;
	}
}
@media only screen and (max-width: 600px) {
	.blogPosition{
	  padding: 43px 0 0 0%;
	}
	.App .header-alt button {
	  margin-top: 10px;
	  font-size: 1em;
	}
	.header-alt {
		height: 80px;
	}
	.header-logo-img {
		width: 75%;
	}
	.btn-post-it {
		width: 100%;
	}
	.WhatPeopleNeed {
		padding: 0px;
		text-align: center;
	}
}
@media only screen and (min-width: 550px) and (max-width: 600px) {
	.MobileMenu {
		display: block;
	}
	.Register {
		margin-left: 0px;
	}
	.login-box {
		display: none;
	}
	.mobile-login {
		padding-top: 0px;
		right: -7px;
	}
	.SideBar {
		display: none;
	}
	.AppContainer {
		text-align: center;
		margin-left: 0;
		margin-top: 0px;
	}
	.Categories {
		grid-template-columns: none;
		width: 100%;
	}
	.aboutText {
		text-align: center;
	}
	.Footer {
		margin-left: 0px;
	}
	.category {
		vertical-align: top;
		width: 100%;
		display: block;
		height: 300px;
		margin-bottom: 0px;
	}
	.zipInput {
		width: 15%;
		padding-left: 0px;
	}
	.post-button-box {
		display: inline-block;
		text-align: left;
		width: 12%;
		margin-left: 0px;
		img {
			height: 25px;
		}
	}
	.MobileLogin {
		width: 70%;
	}
	.searchHeight {
		width: 50%;
	}
	.WhatPeopleNeed {
		padding: 0;
		text-align: center;
	}
	.categoryResults {
		padding-left: 0px;
	}
}
@media only screen and (max-width: 520px) {
	.blogPosition{
	  padding: 78px 0 0 0%;
	}
	.posted-type {
		height: 28px;
		width: 115px;
	}
	.Search {
		padding: 20px;
		.top-input {
			padding: 4px;
		}
		button {
			font-size: 26px;
		}
	}
	.post-button-box {
		img {
			right: auto;
			left: 177px;
		}
	}
	.Contact {
		h4 {
			font-size: 18px;
			line-height: 25px;
		}
	}
	.mobile-login-box {
		font-size: 16px;
	}
	.registerText {
		font-size: 16px;
	}
	.NeedForm {
		#itemBudget {
			padding-left: 0;
		}
	}
}
@media only screen and (max-width: 460px) {
	.App .header-alt button {
	  margin-top: 10px;
	  font-size: 1em;
	}
	.profile-icon {
		width: 2rem;
		height: 2rem;
	}
	.from-text {
		font-size: 16px;
	}
	.Search {
		padding: 20px;
		button {
			font-size: 22px;
		}
		top: 80px;
		input {
			width: 100%;
		}
		.top-input {
			font-size: 14px;
		}
	}
	.Header {
		height: 125px;
	}
	.post-button-box {
		img {
			left: 160px;
			height: 34px;
			top: 126px;
			right: 10px !important;
			left: auto !important;
			border: 1px solid #fff;
		}
	}
	.empty-input {
		margin: 0;
		border-right-width: 1px !important;
	}
	.mobile-login-box {
		font-size: 16px;
	}
	.registerText {
		font-size: 16px;
	}
	.site-title {
		img {
			height: 78px;
			top: -22px;
			left: 5px;
		}
	}
	.douhave-button {
		padding: 8px 3px;
		font-size: 12px;
		width: 100%;
	}
}
@media only screen and (max-width: 403px) {
	.App .header-alt button {
	  margin-top: 10px;
	  font-size: 0.7em;
	}
}
@media only screen and (max-width: 360px) {
	.App .header-alt button {
	  margin-top: 10px;
	  font-size: 0.6em;
	}
	.post-button-box {
		img {
			right: auto;
			left: 150px;
			top: 129px;
		}
	}
	select.SearchDropDown.top-input {
		width: 100px;
	}
	.Search {
		padding: 20px;
		button {
			font-size: 20px;
		}
		top: 80px;
		input {
			width: 100%;
		}
	}
	.Header {
		height: 128px;
	}
	.posted-type {
		height: 23px;
		width: 98px;
	}
	.site-title {
		img {
			height: 70px;
		}
	}
}
